html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

.contenedor {
    margin: 0 auto;
    max-width: 100%;
}

.altura {
    height: 65rem;
}